.debt-card {
    background-color: #61dafb;
    margin: 20px;
    color: #ffffff;
    border-radius: 12px;
    padding: 20px;
    font-size: 1.1rem;
    .container-icons {
        display: flex;
        margin-top: 10px;
    }

    .container-edit {
        background: rgb(255, 187, 61);
        border-radius: 12px;
        padding: 7px 7px 10px 12px;
        margin-right: 10px;
        cursor: pointer;
        &:hover {
            background: rgb(209, 142, 18);
        }
    }

    .container-delete {
        background: rgb(224, 32, 74);
        border-radius: 12px;
        padding: 7px 12px 10px 12px;
        cursor: pointer;
        &:hover {
            background: rgb(189, 3, 43);
        }
    }

}